<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="admin-home" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Admin</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Admin</h6>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="admin-home" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="admin-category" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Category</a>
                    <a href="admin-turf" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Turfs</a>
                    <a href="admin-users-list" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Users list</a>
                    <a href="/admin-couponPage" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Coupon</a>
                    <a href="/admin-offerPage" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Offer</a>
                    <a href="/admin-reportPage" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Report</a>
                    <a href="/admin-orderPage" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Order</a>
                  </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
              <div class="navbar-nav align-items-center ms-auto">
                  <div class="nav-item dropdown">
                      <a href="/admin-logout" class="nav-link">
                          <i class="fa fa-sign-out-alt me-lg-2"></i>
                          <span class="d-none d-lg-inline-flex">Logout</span>
                      </a>
                  </div>
              </div>
          </nav>
            <!-- Navbar End -->

            <!-- Table Start -->
            <h1 style="color: white; text-align: center; padding: 30px;">Turf Categories</h1>
            <a style="margin: 25px;" href="admin-add-category" class="btn btn-sm btn-primary">Add new Category</a>
            <div class="container-fluid pt-4 px-4">
              <div class="row g-4">
                  <div class="col-12">
                      <div class="bg-secondary rounded h-100 p-4">
                          <div class="table-responsive">
                              <table class="table">   
                                  <thead>
                                      <tr>
                                          <th scope="col">Courts</th>
                                          <th scope="col">Edit</th>
                                          <th scope="col">Block</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <%
                                        if( categories.length > 0){
                                        for(let i=0;i<categories.length;i++){
                                            %>
                                            <tr>
                                                <td><a style="color: white;" href="/admin-filter-category?id=<%= categories[i]._id %>"><%= categories[i].name %></a></td>
                                                <td><a href="/admin-edit-category?id=<%= categories[i]._id %>">edit</a></td>
                                                <%if(categories[i].block==true){%>
                                                  <td><a style="color: red;" onclick="blockCategory(this,'<%= categories[i]._id%>') "> Unblock </a></td>
                                                <%}else{%>
                                                  <td><a style="color: green;"  onclick="blockCategory(this,'<%= categories[i]._id%>') ">  Block </a></td>
                                                <%}%>
                                            </tr> 
                                            <%
                                        }
                                        }else{
                                            %>
                                            <tr>
                                                <td colspan="3" style="font-size: large; color: red;">Court categories Not Found</td>
                                            </tr>
                                            <%
                                        }
                                    %>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Table End -->

    <div>
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script>
      async function blockCategory(tag,id){
        try {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, block it!"
                }).then((result) => {
                  if (result.isConfirmed) {
                      Swal.fire({
                      title: "Blocked!",
                      text: "Your file has been blocked.",
                      icon: "success"
                  });
                  if (tag.innerText=='Unblock') {
                    tag.innerText='Block'
                    tag.style.color='green'
                  } else {
                    tag.innerText='Unblock'
                    tag.style.color='red'
                  }
                  fetch(`admin-block-category?id=${id}`)
                  }
                });
        } catch (error) {
            console.log(error.message)
        }
        
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>