<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/shop-grid-3-column.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:15 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Anfield turf booking</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/liverpool_logo_PNG5.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="stylesheet" href="assets/css/style.min.css" />
</head>


<body>
    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="/home"><img src="assets/images/liverpool_logo_PNG5.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                        <ul class="nav-menu">
                            <li><a href="/home">Home</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="pe-7s-search"></i>
                            </a>

                            <div class="dropdown-menu dropdown-search">
                                <!-- Header Search Start -->
                                <div class="header-search">
                                    <form action="/search-location" autocomplete="off" id="location-form">
                                        <input type="text" placeholder="Search location...." list="locations" name="city">
                                        <input type="number" value=1 list="locations" name="page" hidden>
                                        <datalist id="locations">
                                            <% for(let i = 0; i < uniqueCity.length; i++){ %>
                                                <option value="<%= uniqueCity[i] %>">
                                            <% } %>
                                        </datalist>
                                        <button type="submit">
                                            <i class="pe-7s-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <!-- Header Search End -->
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                            <ul class="dropdown-menu dropdown-profile">
                                <li><a href="/my-accounts">My Account</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    
    <!-- Page Banner Section Start -->
    <div class="section page-banner-section" style="background-image: url(assets/images/team-photos/Soccer.jpg)">
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">Experience it</h2>

                <ul class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li class="active">Court Page</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Shop Section Start -->
    <div class="section section-padding">
        <div class="container">
            <!-- Product Section Wrapper Start -->
            <div class="product-section-wrapper">
                <!-- Shop top Bar Start -->
                <div class="shop-top-bar">
                    <div class="shop-text">
                        <p>
                            <span><%= turfs.length %></span> Turfs found
                        </p>
                    </div>
                </div>
                <!-- Shop top Bar End -->

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="grid">
                        <!-- Shop Product Wrapper Start -->
                        <div class="shop-product-wrapper">
                            <div class="row">
                                <% if(turfs.length!=0){ %>
                                    <% for(let i=0;i<turfs.length;i++){ %>
                                        <div class="col-lg-4 col-sm-6">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="/turf-details?id=<%= turfs[i]._id %>"><img style="height: 300px;" src="/turfPhotos/<%= turfs[i].image[0] %>" width="270" height="303" alt="product" /></a>
                                                <div class="product-content">
                                                    <h4 class="title">
                                                        <a><%= turfs[i].name %>  <%=turfs[i].court %> Turf, <%= turfs[i].city%></a>
                                                    </h4>
                                                </div>
                                                    <ul class="product-meta">
                                                        <% if(wishlist && wishlist.turfs && wishlist.turfs.length > 0){ %>
                                                            <% if(wishlist.turfs.includes(turfs[i]._id)) { %>
                                                                <li>
                                                                    <a style="background-color: red;" class="action" onclick="wishlist(this,'<%= turfs[i]._id%>')"><i class="pe-7s-like"></i></a>                                                    
                                                                </li>
                                                            <% } else { %>
                                                                <li>
                                                                    <a class="action" onclick="wishlist(this,'<%= turfs[i]._id%>')"><i class="pe-7s-like"></i></a>                                                    
                                                                </li>
                                                            <% } %>
                                                        <% } else { %>
                                                            <li>
                                                                <a class="action" onclick="wishlist(this,'<%= turfs[i]._id%>')"><i class="pe-7s-like"></i></a>                                                    
                                                            </li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                            <!-- Single Product End -->
                                        </div>
                                    <%}%>
                                    <%}else{%>
                                    <h1>Current no turfs available</h1>
                                    <%}%>
                            </div>
                        </div>
                        <!-- Shop Product Wrapper End -->

                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                        <script>
                            async function wishlist(tag, id) {
                                try {
                                    fetch(`/add-wishlist?id=${id}`)
                                    .then(res => res.json())
                                    .then( data => {
                                        if(data.added){
                                            tag.style.background = 'red'
                                            console.log('added')
                                            Swal.fire("Turf added to wishlist");
                                        } else if(data.removed) {
                                            tag.style.background = ''
                                            console.log('removed')
                                            Swal.fire("Turf removed from wishlist");

                                        }
                                    })
                                } catch (error) {
                                    console.log(error.message)
                                }
                            }
                        </script>
                <!-- Page pagination Start -->
                <div class="page-pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link"><i class="fa fa-angle-left"></i></a></li>
                        <% for(let i = 1; i <= showTurfs; i++) { %>
                            <% if (pageNum == i) { %>
                                <% if(typeof category !== 'undefined'){ %>
                                    <li class="page-item active"><p class="page-link active" href="?page=<%= i %>&court=<%= category %>"><%= i %></p></li>
                                <% } else{ %>
                                    <li class="page-item active"><p class="page-link active" href="?page=<%= i %>"><%= i %></p></li>
                                <% }
                                } else { %>
                                    <% if(typeof category !== 'undefined'){ %>
                                    <li class="page-item active"><a class="page-link" href="?page=<%= i %>&court=<%= category %>"><%= i %></a></li>
                                <% } else{ %>
                                    <li class="page-item active"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                                <% }
                            } %>
                        <% } %>
                        <li class="page-item"><a class="page-link"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- Page pagination End -->
            </div>
            <!-- Product Section Wrapper End -->
        </div>
    </div>
    <!-- Shop Section End -->

    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>
    <script src="assets/js/plugins/odometer.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>

<!-- Mirrored from htmldemo.net/furbar-1/furbar/shop-grid-3-column.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:16 GMT -->
</html>