<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:18 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Anfield turf booking</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/liverpool_logo_PNG5.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/plugins/font-awesome.min.css" />

    <!-- Sweet alert css -->
    <link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="stylesheet" href="assets/css/style.min.css" />
</head>


<body>
    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="/home"><img src="assets/images/liverpool_logo_PNG5.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                        <ul class="nav-menu">
                            <li><a href="/home">Home</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="pe-7s-search"></i>
                            </a>

                            <div class="dropdown-menu dropdown-search">
                                <!-- Header Search Start -->
                                <div class="header-search">
                                    <form action="#">
                                        <input type="text" placeholder="Enter your search key ... " />
                                        <button>
                                            <i class="pe-7s-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <!-- Header Search End -->
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                            <ul class="dropdown-menu dropdown-profile">
                                <li><a href="/my-accounts">My Account</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->



    <!-- Page Banner Section Start -->
    <div class="section page-banner-section" style="background-image: url(assets/images/team-photos/Soccer.jpg)">
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">My Account</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">My Account</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- My Account Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-3 col-md-4">
                    <!-- My Account Menu Start -->
                    <div class="my-account-menu">
                        <ul class="nav account-menu-list flex-column">
                            <li>
                                <a class="active" data-bs-toggle="pill" href="#pills-dashboard"><i class="fa fa-tachometer"></i>
                                    Profile</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-order"><i class="fa fa-shopping-cart"></i>
                                    Order</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-download"><i class="fa fa-cloud-download"></i>
                                    Wishlist</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-payment"><i class="fa fa-credit-card"></i>
                                    Wallet</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-address"><i class="fa fa-credit-card"></i>
                                    Coupon</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-account"><i class="fa fa-user"></i> Edit
                                    Details</a>
                            </li>
                            <li>
                                <a href="/logout"><i class="fa fa-sign-out"></i>
                                    Logout</a>
                            </li>
                        </ul>
                    </div>
                    <!-- My Account Menu End -->
                </div>

                <div class="col-xl-9 col-md-8">
                    <!-- Tab content start -->
                    <div class="tab-content my-account-tab">
                        <div class="tab-pane fade show active" id="pills-dashboard">
                            <div class="my-account-dashboard account-wrapper">
                                <div class="account-address">
                                    <h4 class="account-title">
                                        <%= user.username %>
                                    </h4> <br>
                                    <h6 class="name">
                                        <%= user.name %>
                                    </h6>
                                    <% if(user.address){ %>
                                    <p>
                                        <%= user.address %>
                                        <br />
                                    </p>
                                    <% } %>

                                    <p>Mobile: <%= user.mobile %> <br>
                                        Email: <%= user.email %></p>
                                        <br>
                                    <div>
                                        <h4 class="account-title">
                                            Refferal code:
                                        </h4>
                                        <h5><%= user.refferalCode %></h5><br>
                                        <div class="copy-container">
                                            <div style="color: black;" id="textToCopy">http://localhost:8000/signup?refferal=<%= user._id %></div>
                                            <button onclick="copyText()">
                                                <i class="fa fa-copy"></i> Copy
                                            </button>
                                        </div>
                                        <p>( Invite friends to Anfield turf booking website and get 
                                            ₹121 when your friend register on our website. They get ₹21 )</p>
                                    
                                        <script>
                                            function copyText() {
                                                // Create a temporary textarea element
                                                const tempTextarea = document.createElement("textarea");
                                                // Get the text from the div
                                                tempTextarea.value = document.getElementById("textToCopy").textContent;
                                                // Add the textarea to the document body
                                                document.body.appendChild(tempTextarea);
                                                // Select the text inside the textarea
                                                tempTextarea.select();
                                                // Copy the text inside the textarea
                                                document.execCommand("copy");
                                                // Remove the temporary textarea
                                                document.body.removeChild(tempTextarea);
                                                // Alert the user
                                                alert("Text copied to clipboard!");
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                        <div class="tab-pane fade" id="pills-order">
                            <div class="my-account-order account-wrapper">
                                <h4 class="account-title">Bookings</h4>
                                <div class="account-table text-center table-responsive">
                                    <% if (typeof order !== 'undefined'){ %>

                                        <table class="table" >
                                            <thead >
                                            <tr>
                                                <th class="name">Turf</th>
                                                <th class="name">Court</th>
                                                <th class="date">Time</th>
                                                <th class="status">
                                                    Payment
                                                </th>
                                                <th class="total">Cash</th>
                                                <th class="action">Location</th>
                                                <th class="date">Booked date</th>
                                                <th class="date">Actions</th>

                                            </tr>
                                        </thead>
                                        <tbody >
                                            <% for(let i=0;i<order.length;i++){ %>
                                                <!-- <p id="orderId" style=""></p> -->
                                                <tr style="height: 70px;">
                                                    <td><%= order[i].name %></td>
                                                    <td><%= order[i].court %></td>
                                                    <td><%= order[i].startingTime %> to <%= order[i].endingTime %></td>
                                                    <td><%= order[i].paymentMethod %></td>
                                                    <td><%= order[i].cash %></td>
                                                    <td><%= order[i].city %></td>
                                                    <td><%= order[i].slotBookDate %></td>
                                                    <% if (order[i].status == 'Canceled'){ %>
                                                            <td style="background-color:rgb(169, 169, 169);"><p>canceled</p></td>
                                                    <% } else if (order[i].status == 'Failed'){
                                                        if(order[i].slotBookDate < today || (order[i].slotBookDate <= today && order[i].startingTime < currentTime)) { %>
                                                            <td>Payment failed</td>
                                                        <% } else { %>
                                                            <td><a href="/continue-payment?order=<%= encodeURIComponent(JSON.stringify(order[i])) %>">Continue payment</a></td>
                                                        <% } %>
                                                    <% } else if (order[i].slotBookDate < today){ %>
                                                        <td><a onclick="invoice(this,'<%= encodeURIComponent(JSON.stringify(order[i])) %>')">Invoice</a></td>
                                                    <% } else if(order[i].slotBookDate > today) { %>
                                                            <div><td><a onclick="orderCancel(this,'<%= order[i]._id %>', '<%= order[i].couponCode %>')" style="background-color: red; color: white; border-radius: 5px;">Cancel</a></td></div>
                                                    <% } else if(order[i].endingTime > currentTime){ %>
                                                            <td>You can't cancel</td>
                                                    <% } else { %>
                                                        <td><a onclick="invoice(this,'<%= encodeURIComponent(JSON.stringify(order[i])) %>')">Invoice</a></td>
                                                        <% } %>
                                                    <td style="display: none;" id="orderId"><%= order[i]._id %></td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                <% }else{ %>
                                    <h3>No Bookings</h3>
                                <% } %>    
                            </div>
                        </div>
                    </div>
                            <script>
                                async function invoice(tag, order) {
                                    try {
                                        console.log('lll')
                                        // console.log(order)
                                        fetch(`/invoice-check`)
                                        .then(res => res.json())
                                        .then(res => {
                                            console.log(order)
					                        window.location.href = `/invoice?order=${order}`;
                                        })
                                    } catch (error) {
                                        console.log(error.message)
                                    }
                                }
                            </script>
                        

                    <script>
                        async function orderCancel(element, orderId, couponCode){
                            try {
                                swal({
                                    title: "Are you sure?",
                                    text: "Do you want cancel this turf",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Yes, cancel it!",
                                    cancelButtonText: "No, don't cancel!",
                                    closeOnConfirm: false,
                                    closeOnCancel: false
                                },
                                function(isConfirm){
                                    if (isConfirm) {
                                        const orderIds = document.querySelectorAll("orderId");
                                        const couponCodes = document.querySelectorAll("couponCode");

                                        orderIds.forEach(element => {
                                            const orderId = element.textContent.trim();
                                        });
                                        couponCodes.forEach(element => {
                                            const couponCode = element.textContent.trim();
                                        });

                                        element.innerText = 'Canceled';
                                        // Create a new <p> element
                                        const pElement = document.createElement('td');
                                        pElement.innerText = 'Canceled';
                                        pElement.style.backgroundColor = 'rgb(169, 169, 169)';
                                        pElement.style.height = '75px'
                                        pElement.style.width = '150px'

                                        console.log(pElement)
                                        // Replace the <a> tag with the new <p> tag
                                        element.parentNode.replaceChild(pElement, element);
                                        fetch(`/cancel-bookings?orderId=${orderId}&couponCode=${couponCode}`)
                                        swal("canceled!", "Your booking is canceled.", "success");
                                    } else {

                                        swal("Dont worry", "Your booking is safe", "error");
                                    }
                                });
                            } catch (error) {
                                console.log(error.message)
                            }  
                        }
                        
                    </script>

                    
                        <div class="tab-pane fade" id="pills-download">
                            <div class="my-account-download account-wrapper">
                                <h4 class="account-title">Wishlist</h4>
                                <div class="account-table text-center table-responsive">
                                    <% if(wishlist && wishlist.turfs && wishlist.turfs.length > 0){ %>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="name">
                                                        Turf
                                                    </th>
                                                    <th class="date">City</th>
                                                    <th class="status">
                                                        Court
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let i = 0; i < wishlist.turfs.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <a href="/turf-details?id=<%= wishlist.turfs[i]._id %>"><%= wishlist.turfs[i].name %></a>
                                                        </td>
                                                        <td><%= wishlist.turfs[i].city %></td>
                                                        <td>
                                                            <a href="/turf-details?id=<%= wishlist.turfs[i]._id %>"><%= wishlist.turfs[i].court %></a>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    <% } else { %>
                                        <h3>Wishlists are empty</h3>
                                    <% } %>    
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-payment">
                            <div class="my-account-payment account-wrapper">
                                <h4 class="account-title">
                                    Wallet
                                </h4>
                                <div class="account-table text-center table-responsive">
                                    <% if(wallet && wallet.cancelledOrders && wallet.cancelledOrders.length > 0){ %>
                                        <h5>Wallet balance: <%= wallet.amount %></h5><br>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="name">
                                                        Date
                                                    </th>
                                                    <th class="date">Reason</th>
                                                    <th class="status">
                                                        Amount
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let i = 0; i < wallet.cancelledOrders.length; i++) { %>
                                                    <tr >
                                                        <td><a><%= wallet.cancelledOrders[i].cancelledDate %></a></td>
                                                        <td><%= wallet.cancelledOrders[i].name %></td>
                                                        <td><%= wallet.cancelledOrders[i].amount %></td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    <% } else { %>
                                        <h3>Wallet are empty</h3>
                                    <% } %>    
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-address">
                            <div class="my-account-download account-wrapper">
                                <h4 class="account-title">Available coupons</h4>
                                <div class="account-table text-center table-responsive">
                                    <% if(coupon){ %>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="date">Name</th>
                                                    <th class="status">Code</th>
                                                    <th class="status">Expiry date</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let i = 0; i < coupon.length; i++) { %>
                                                    <tr>
                                                        <td><a><%= coupon[i].name %></a> </td>
                                                        <td><%= coupon[i].code %></td>
                                                        <td><%= coupon[i].expiredAt.toLocaleDateString() %></td>
                                                        
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    <% } else { %>
                                        <h3>Wishlists are empty</h3>
                                    <% } %>    
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-account">
                            <div class="my-account-details account-wrapper">
                                <h4 class="account-title">
                                    Edit Details
                                </h4>

                                <form id="editForm" action="#">
                                    <div class="account-details">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <label for="username">username:</label>
                                                <input type="text" id="username" value="<%= user.username %>" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <label for="name">name:</label>
                                                <input type="text" id="name" value="<%= user.name %>" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <label for="address">address:</label>
                                                <% if(user.address){ %>
                                                    <input type="text" id="address" value="<%= user.address %>" required/>
                                                <% }else{ %>
                                                    <input type="text" id="address" placeholder="Enter your address" required/>
                                                <% } %>
                                            </div>
                                        </div>

                                        <!-- <div class="col-md-12">
                                            <div class="single-form">
                                                <label for="email">email:</label>
                                                <input type="text" value="<%= user.email %>" />
                                            </div>
                                        </div> -->
                                        
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <h5 class="title">
                                                    Password change
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <input type="password" id="currentPass" placeholder="Current Password" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="password" id="newPass" placeholder="New Password" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="password" id="confirmPass" placeholder="Confirm Password" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <button class="btn btn-primary btn-hover-dark" onclick="editUser()">
                                                    Save Change
                                                </button> <p id="message" style="color: red;"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            </div>
                        </div>
                        
            </div>
        </div>
    </div>
    <!-- My Account Section End -->


        

    <!--Back To Start-->
    <button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
    <!--Back To End-->
    <!-- JS
    ============================================ -->

    <script>
        async function editUser(){
            try {
                console.log('lk')
		        const form = document.getElementById('editForm');
                form.addEventListener('submit', function(event) {
		            event.preventDefault();
                    const username = document.getElementById('username').value;
                    const address = document.getElementById('address').value;
                    const name = document.getElementById('name').value;
                    const currentPass = document.getElementById('currentPass').value;
                    const newPass = document.getElementById('newPass').value;
                    const confirmPass = document.getElementById('confirmPass').value;

                    let query = `username=${username}&address=${address}&name=${name}&currentPass=${currentPass}&newPass=${newPass}&confirmPass=${confirmPass}`
                    fetch(`/edit-profile?${query}`)
                    .then(res => res.json())
                    .then(res =>{
                    // 	if(res.success){
                    // 		window.location.href = '/home';
                    // 	}else{
                    		document.getElementById('message').innerHTML=res.message
                    // 	}
                    })
                });
            } catch (error) {
                console.log(error.message)
            }
        }
    </script>

    <!-- Modernizer & jQuery JS -->
    <!-- Swal script -->
    <script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>

    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>
    <script src="assets/js/plugins/odometer.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/furbar-1/furbar/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:18 GMT -->
</html>